<section class="container mt-20">
  <h3 class="font-anton text-3xl">About Us</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam aut.
    Totam atque cupiditate quas eveniet facere tenetur? A alias ipsum quia,
    facilis consequatur cum doloremque rem aperiam magnam sunt.
  </p>
  <p-divider type="solid" />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum libero
    necessitatibus delectus natus sint, ut perspiciatis sit magni excepturi.
    Reiciendis at molestias quidem. Reprehenderit reiciendis quaerat quo ut
    fugit vel iusto. Quidem ab molestiae accusantium vero facilis provident ipsa
    repellat architecto debitis, repellendus odit? Ratione odit provident
    possimus voluptatem necessitatibus!
  </p>
  <p-divider type="solid" />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum libero
    necessitatibus delectus natus sint, ut perspiciatis sit magni excepturi.
    Reiciendis at molestias quidem. Reprehenderit reiciendis quaerat quo ut
    fugit vel iusto. Quidem ab molestiae accusantium vero facilis provident ipsa
    repellat architecto debitis, repellendus odit? Ratione odit provident
    possimus voluptatem necessitatibus!
  </p>
  <p-divider type="solid" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam aut.
    Totam atque cupiditate quas eveniet facere tenetur? A alias ipsum quia,
    facilis consequatur cum doloremque rem aperiam magnam sunt.
  </p>
</section>
