<h5 class="font-anton text-xl">Detail Account</h5>
<div class="mt-10 flex flex-col gap-3">
  <div class="w-full flex gap-2">
    Username:
    <input type="text" value="Muhammad" class="font-bold outline-none flex-1" />
  </div>
  <div class="w-full flex gap-2">
    Email:
    <input
      type="text"
      value="muh@gmail.com"
      class="font-bold outline-none flex-1"
    />
  </div>
  <div class="">
    <span class="font-bold">Description</span>
    <p class="text-sm">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui accusantium
      cupiditate, error quia velit eius sint eligendi sed ex nihil dolorum
      numquam sapiente molestiae? Incidunt ad doloribus aut magni aspernatur?
    </p>
  </div>
  <button class="button-primary py-2">Update Profile</button>
</div>
