<footer class="w-full bg-gray-300 py-10">
  <div class="container">
    <div class="text-center">
      <h2 class="font-anton text-2xl" style="letter-spacing: 1px">
        MY JACKET ID
      </h2>
      <p class="mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam repellat,
        blanditiis magni voluptates.
      </p>
      <form class="py-1 border border-black rounded-full flex overflow-hidden">
        <input
          type="text"
          class="flex-1 bg-transparent outline-none px-5 py-2"
          placeholder="Type something"
        />
        <button class="w-12 h-12 bg-black text-white rounded-full mr-2">
          <span class="pi pi-arrow-right"></span>
        </button>
      </form>

      <div
        class="flex justify-between items-center border-b border-gray-700 pb-10 my-5"
      >
        <div class="">
          <h3 class="font-anton">Address</h3>
        </div>
        <div class="">
          <h3 class="font-anton">Page</h3>
        </div>
        <div class="">
          <h3 class="font-anton">Info</h3>
        </div>
      </div>
      <p class="font-bold">copyright. Juaini 2024</p>
    </div>
  </div>
</footer>
