<section class="container my-10 grid grid-cols-1 md:grid-cols-2 items-center">
  <div class="w-full">
    <img src="assets/images/banner.jpg" alt="" />
  </div>
  <div class="flex flex-col gap-3 bg-gray-100 h-full justify-center pl-10 py-5">
    <a href="" class="text-blue-700 font-bold">SALE UP TO 50% OFF</a>
    <h2 class="font-anton text-5xl" style="line-height: 60px">
      Men Zip Up Bomber Jacket
    </h2>
    <p class="font-bold">Hurry up!!! Promo is coming</p>
    <a href="" class="pb-1 border-b w-20 border-black font-bold">Buy Now!</a>
  </div>
</section>
