<div
  class="w-full bg-cover h-[700px]"
  style="background-image: url(assets/images/hero.jpg)"
>
  <div class="w-full h-full bg-black/30 flex items-center justify-end">
    <div class="container">
      <h1
        class="font-anton text-white text-5xl leading-[55px]"
        style="letter-spacing: 1px"
      >
        MY JACKETID AWESOME
      </h1>
      <p class="text-white lg:w-[70%] leading-6 mt-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ipsa
        dolores nostrum earum! Vel cumque rem labore earum illo porro sed
        incidunt voluptatem. Nihil nam soluta sit, quas delectus animi?
      </p>
      <button class="button-primary px-4 py-2">Shooping Now!</button>
    </div>
  </div>
</div>
